body {
    background-color: black;
    
  }
  h1{    
    font-size:2rem;
    text-transform: uppercase;
  }
  .dance-img{
    border:5px solid white;   
    width:100%    
  }
  #Holly {
    font-size:1rem;
  }

  .Insp-poster
  {width:50%;
   margin-top:100px;
  margin-left: 25%;
  text-align: center;
  color:white;
  font-family: "Libre Baskerville", serif;
  }
  
